.ReleaseNote {
    
    details[open] .Arrow {
        transform: rotate(180deg);
    }

    .ReleaseNoteCard {
        width: 100%;
        padding: 16px;

        summary {
            display: flex;
            justify-content: space-between;
            align-items: center;

            cursor: pointer;
        }

        .ReleaseTitle {
            margin: 0;
            padding: 0;

            a {
                color: rgb(0,0,0);
                text-decoration: none;
    
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .ReleaseBody {
            padding: 8px;
            margin: 16px 0;

            border: 1px solid rgb(0,0,0,0.1);
            border-radius: 4px;
        }
    }
}